---
import { TextSection } from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'About | NextNode',
	description: 'Who we are, what we care about, and why we build.',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>Meet NextNode</h1>
			<p>
				NextNode is proudly <strong>woman-owned</strong> and <strong>BIPOC-led</strong>.
			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/home/gears.jpg"
        alt="NextNode team"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>

  <TextSection narrow>
    <p>
      What started as a side hustle became a full-time mission: to design secure, purposeful, and good-looking tech that serves people and communities.
    </p>

    <p>
      We’ve been active for <strong>3 years</strong>, with over <strong>7 years of development experience</strong> and a <strong>Computer Science degree</strong> behind our code. Our background includes startups, nonprofits, and global organizations—and we bring that range into every project.
    </p>

    <p>
      What sets us apart? We keep things simple in the best way. Clear, thoughtful design. Smart security. And tech that feels built just for the people using it, because it is.
    </p>

    <p>
      Our values are simple: <strong>Transparency</strong> in how we work. <strong>Community</strong> in how we collaborate. And a deep belief in helping everyone grow.
    </p>

    <p>
      From iOS apps to full-stack builds, from solo creatives to mission-driven orgs, we’re committed to helping great ideas progress.
    </p>

    <br>
    <h2>Our Commitment</h2>
		<p>
			<strong>Tech should be useful and meaningful.</strong> We aim to take on at least one social-impact project each year at a reduced or pro bono rate. We also actively connect founders and creators in our network to help support more shared growth across communities.
		</p>

		<p>
			<i>4%</i> of our profit goes to causes including <i>education access, community equity, and housing insecurity</i> in our local New England communities by partnering with grassroots organizations and volunteering our time and skills on project-based work.
		</p>
  </TextSection>
</Layout>
