---
import { Button, Container, TextCardSection } from '@components/odyssey-theme';
import Layout from '../layouts/Page.astro';

const seo = {
	title: 'We\'re so sorry! The page you are looking for does not exist.',
	description: '404 page: We\'re so sorry! The page you are looking for does not exist.',
};
---

<Layout {seo}>
	<Container>
		<TextCardSection>
			<h1>404</h1>
			<h2>We're so sorry! The page you are looking for does not exist.</h2>
			<div class="cta-buttons__container">
				<Button href="/">Return Home</Button>
			</div>
		</TextCardSection>
	</Container>
</Layout>

<style>
	.cta-buttons__container {
		display: flex;
		flex-wrap: wrap;
	}
	.cta-buttons__container :global(a) {
		margin-right: 1rem;
		margin-bottom: 1rem;
	}
	.code-buttons__container {
		margin: 1rem auto;
		display: flex;
		flex-wrap: wrap;
	}
	.code-buttons__container > a {
		margin-right: 1rem;
		margin-bottom: 1rem;
	}
</style>
